<div class='message'>
  <p><%= message.user_id %></p>  <!--  このmessage変数の中にshowページにある@messagesのそれぞれのレコードが代入されている。 -->
  <p><%= message.post_id %></p>  <!--  message.user_idとmessage.post_idが表示されない。 -->
  <p><%= message.content %></p>  <!--  post_channel.rbのspeakメソッドを変更したら表示された。 -->
</div>


<!--  ここで表示されているuser_idはpostした人のuser_idになってしまっている。 -->
<!--  ログインユーザーのuser_idを出してあげないといけない。 -->




