<div class="mt-4" style="float:right;">
    <%= link_to '戻る', posts_path, class: 'btn btn-light border-primary text-primary font-weight-bold' %>
</div>
<hr style="height:4px; background-color:#49b99e; border:none;">
<div class="container">
  <div class="row">
    <div class="card col-sm-12 col-lg-8 mx-auto mt-5">
      <div class="card-body">
        <h1 style="text-align:center; font-weight:bold;">投稿編集</h1>
        <%= render 'form', post: @post %>
      </div>
    </div>    
  </div>
</div> 
