<div style="float:right;">
    <%= link_to '戻る', posts_path, class: 'btn btn-light border text-primary' %>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="card col-sm-5 mx-auto mt-5">
      <div class="card-body">
        <h1>投稿編集</h1>
        <%= render 'form', post: @post %>
      </div>
    </div>    
  </div>
</div> 
