<div class='text'>
  <p><strong><%= text.name %></strong> - <span style="margin-left:10px;"><%= text.created_at %></span></p>
  <h4><%= text.content %></h4><br>
</div>


<!--  ここで表示されているuser_idはpostした人のuser_idになってしまっている。 -->
<!--  ログインユーザーのuser_idを出してあげないといけない。 -->